.right {
    text-align: right;
    border-bottom: 0;
    border-left: 0;
}

.right-color {
    border-top: 0;
    border-bottom: 1px solid black;
    border-left: 0;
    border-right: 0;
    background-color: rgb(180, 221, 236);
    padding: 20px;
}
.right-border-bottom {
    text-align: right;
    border-bottom: 1px solid rgb(107, 105, 105);
    border-left: 0px;
    border-right: none;
}
h1 {
    color: rgb(107, 105, 105);
    padding-bottom: 80px;
    padding-top: 65px;
  }
  table {
    width: 100%;
    border-spacing: 0;
    margin-top: 80px;
    /*border-right: 1px solid rgb(107, 105, 105);*/
  }
  th {
    border: none;
    border-right: 1px solid rgb(107, 105, 105);
  }
  tr:nth-child(even) {
    background-color: rgb(217, 219, 217);
  }
  thead tr:nth-child(1) {
    background-color: #1361e9;
    color: white;
  }
  td {
    border-left: 1px solid rgb(107, 105, 105);
    border-bottom: 1px solid rgb(107, 105, 105);
    padding-left: 5px;
  }
  body {
    font-family: 'Roboto', sans-serif;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 35px;
    margin-bottom: 55px;
  }
  .article-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .article {
    flex-grow: 1;
    flex-basis: 50%;
  }
  img {
    padding-top: 0px;
    padding-bottom: 30px;
    margin-right: 0px;
    width: 35%;
  }
  hr {
    width: 60%;
    margin: 0%;
  }
  
  .right-hr {
    text-align: right;
    margin-left: 0;
  }
  h4 {
    margin-right: 90px;
    color: rgb(23, 23, 68);
  }

  .description {
    width: 500px;
    height: 25px;
  }
  .qty {
    width: 100px;
    height: 25px;

  }
  .unite {
    width: 200px;
    height: 25px;

  }
  .total {
    width: 300px;
    height: 25px;

  }